@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html,
  body {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-neutral-100;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  ::-webkit-scrollbar-track {
    background: #fbfdff;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: #0091ff;
  }
}

@layer components {
  .headerPadding {
    padding-top: calc(6.25rem + 4rem);
  }

  .mainHeight {
    height: calc(100vh - 6.25rem);
  }

  .tabs-trigger[data-state='active'] {
    @apply text-neutral-50 bg-neutral-900;
  }
}
